@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss";
html { 
  font-family: 'Montserrat', 'Inter', sans-serif;
  color: transparent;
 }



body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity, 1));
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 
  'Montserrat', 'Courier New',
    monospace;
}

#buffer-extension-button-hover-container {
  display: none;
}

main {
    /* border: 1px solid white; */
    height: auto;
    margin: 100px 10px 50px;
}
@media only screen and (max-width:768.98px) 
{
    main{
        margin: 100px 10px 0px;
    }
   
}


@media only screen and (max-width:375.98px) 
{
    main {
        margin: 85px 0px 40px;
    }
}

/*########## Section one ###### */

.section_one {
    width: 850px;
    margin: 30px 150px 0px;
    text-align: center;
    margin: auto;
    
}

@media only screen and (max-width:1024.98px) 
{
    .section_one {
        margin: auto;
    }
   
}
@media only screen and (max-width:768.98px) 
{
    .section_one{
        padding: 0px 60px;
        width: auto;
    }
    .section_one .hello { 
        width: auto;
        margin: 20px auto;

    }
   
}
@media only screen and (max-width:425.98px) 
{
    .section_one {
        margin: 50px 0px;
        width: auto;

        padding: 0px;
    }

    .section_one .animate-character {
        font-size: 50px;
    }
    .section_one .subhead {
        margin-top: 50px !important;
        
    }
    .section_one .moresub {
        margin-top: 40px;
    }
    .person {
        /* width: 200px;
        height: 200px;
        bottom: -55%; */
        display: none;
    }
    .section_two .me {
        margin: 150px 10px 40px;
    }
}
@media only screen and (max-width:375.98px) 
{
    .section_one {
        margin: 20px 5px;
    }
    .section_one .animate-character {
        font-size: 50px;
    }
    .section_one p {
       font-size: 20px;
    }
    .section_two .me {
        margin: 130px 4px 40px;
    }
    .section_two .about h1, .section_two .others h1 {
        font-size: 40px;
    }
    .section_three .works {
        padding: 10px 0px 0px;
    }
    .section_three .works h1 {
        font-size: 40px;
    }
}
@media only screen and (max-width:320.98px) 
{
    .section_two .about h1, .section_two .others h1 {
        font-size: 30px;
    }
    .section_two .and_more h1 {
        font-size: 30px;
    }
    .section_three .work_container {
        margin-top: 40px;
    }
    .section_four {
        padding: 50px 10px 20px;
    }
    .divide {
        margin-top: 80px;
    }
    .section_five .contact h1 {
        font-size: 30px;
    }
    .section_five .mail_button {
        font-size: 14px;
    }
    .section_four .work_with {
        font-size: 30px;
        margin-bottom: 15px;
    }
}

.section_one .hello {
    font-size: 15px;
    color: white;
    font-weight: 300;
    /* padding: 20px; */
    text-align: center;
    margin: auto;
    width: 130px;
    padding: 4px 2px;
    /* background-image: linear-gradient(
    -225deg,
    #3e12de 30%,
    #03296b 90%
  ); */
    border-radius: 30px;
    border:.6px solid rgb(188, 186, 186);
}
.section_one h1 {
    text-transform: capitalize;
    /* color: #00A3FF; */
    font-size: 65px;
    font-weight: 900;
    margin-top: 15px;
}


/* .section_one h1:hover {
    color: white;
    transform:scale(1); 
    transition: .5s ease-in-out;
    
} */
.section_one .subhead {
    color: white;
    /* width: 800px; */
    margin: auto;
    font-weight: 800;
    word-spacing: 1.5px;
    font-size: 66px;
    line-height: 68px;
}

@media only screen and (max-width:768.98px) 
{
    .section_one .subhead{
        width: auto;
    }
   
}
@media only screen and (max-width:425.98px) 
{
    .section_one .subhead{
        font-size: 40px;
        line-height: 45px;
    }
    .section_one .bubble {
        display: none;
    }
}
.subhead span {
    color: #3e12de;
    font-weight: 800;
}
.moresub {
    width: auto;
    font-weight: 500;
    word-spacing: 1.5px;
    font-size: 20px;
    color: white;
}
.more_button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 30px;
    text-decoration-line: none;
    color: white;
    word-spacing: 1.5px;
    font-size: 17px;
    font-weight: 300;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.more_button:hover {
    box-shadow: inset 200px 0 0 0 #3e12de;
    color: white;
    transition: .5s ease-in-out;
    transform:scale(0.97)
}
.socials {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 110px;
}
.socials img:hover {
    transform:scale(1.1); 
    transition: .3s ease-in-out;
    
}

.animate-character {

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3e12de 0%,
    #f9f9f9 29%,
    #ff1361 67%,
    #2d60b7 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 55px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.bubble {
    right: 342px;
    top: -6px;
    position: absolute;
}
/* 
.animate-button {
   background-image: linear-gradient(
     -225deg,
     #3e12de 0%,
     #4814e6 29%,
     #9404a4 67%,
     #2d60b7 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   animation: textclip 2s linear infinite;
   display: inline-block;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 } */
@media only screen and (max-width:768.98px) 
{
    .and_more .animate-character2 {
        font-size: 16px;
    }
}


/*########## Section two ###### */
/* .person {
    position: absolute;
    right: 5%;
    transform: rotateY(180deg);
}
@media only screen and (max-width:768.98px) 
{
    .person {
        bottom: -45%;
    }
} */


/*########## Section two ###### */

.section_two {
    /* width: 850px; */
    margin: 30px 150px 0px;
}
.me {
    /* border: 1px solid white; */
    height: auto;
    margin: 190px 100px 50px;
}
@media only screen and (max-width:1024.98px) 
{
    .me {
        margin: 100px 20px 50px;
    }
    .section_two {
        margin: 30px 100px;
    }
   
}
@media only screen and (max-width:768.98px) 
{
    .me {
        margin: 150px 20px 50px;
    }
    .section_two {
        margin: 0px 40px;
        width: auto;
    }
}
@media only screen and (max-width:425.98px) 
{

    .section_two {
        margin: 0px;
    }
}
.about h1{
    font-size: 50px;
    color: white; 
    text-transform: capitalize;
    font-weight: 700;
}
.about p {
    color: white;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    margin-top: 10px;

}
.others h1, .and_more h1{
    font-size: 50px;
    color: white; 
    text-transform: capitalize;
    font-weight: 600;
    /* text-align: right; */
}
.others p {
    color: white;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    margin-top: 10px;
    /* text-align: right; */

}

.and_more {
    text-align: center;
    margin-top: 100px;
}
@media only screen and (max-width:425.98px) 
{
    .and_more {
        margin-top: 80px;
    }
}
.and_more h1{
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}
.and_more p {
    color: white;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    margin-top: 30px;
    word-spacing: 1.5px;
    /* text-align: justify; */
}

.and_more i:hover {
    transform: scale(1.2); 
    transition: .3s ease-in-out;
}

.and_more i {
    font-size: 24px;
    color: #ac05ca;
    font-weight: 700;
}
.and_more span {
    font-size: 17px;
    color: #1B1631;
    font-weight: bold;
}


hr {
    /* width: auto; */
    height: 2px;
    background-color: #1B1631;
    width: 0;
    position: relative;
    margin: 30px auto;
    margin-top: 80px;
    animation: separator-width 3s ease-out infinite;
}


@keyframes separator-width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-character2 {

    /* text-transform: uppercase; */
   background-image: linear-gradient(
     -225deg,
     #ffffff 0%,
     #3e12de 39%,
     #ac05ca 130%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   /* text-fill-color: transparent; */
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
     font-size: 55px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }
 


        
/*########## Section three ###### */


.section_three {
    margin-top: 200px;
}
.experience {
      /* border: 1px solid white; */
      height: auto;
      margin: 90px 150px 0px;
}
@media only screen and (max-width:1024.98px) 
{
    .experience {
        margin: 30px 40px;
    }
   
}
@media only screen and (max-width:768.98px) 
{
    .experience{
        margin: 30px 10px;
    }
   
}
.experience h1, .works h1{
    font-size: 40px;
    color: white; 
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    margin: auto;
}
.experience .exp-story {
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    margin: auto;
    margin-top: 10px;

}
.experience-card {
    border: .3px solid rgb(77, 76, 76);
    border-radius: 20px;
    /* height: 500px; */
    padding: 40px 40px;
}
@media only screen and (max-width:768.98px) 
{
    .experience-card {
        padding: 40px 0px;
        border: none;
    }
   
}


.works {
    height: auto;
    margin: 100px 10px 50px;
    padding: 100px 0px 40px;
    /* border: 1px solid white; */
}
.work_container {
    margin-top: 70px;
    /* border: 1px solid white; */
    height: auto;
    
    width: 100%;
}

@media only screen and (max-width:425.98px) 
{
    .works {
        margin: 40px 0px 50px;
        /* padding: 0px 0px 40px; */

    }
    .work_container {
        margin-top: 30px;
    }
    .section_three {
        margin-top: 100px;
    }
    .experience h1, .works h1, .technologies .tech-title, .section_four .work_with {
        text-align: left;
        font-size: 30px;
    }
    .experience .exp-story {
        font-size: 16px;
        line-height: 20px;
        text-align: left;
    
    }
    
}


.more {
    background-color: transparent;
    /* border: .6px solid white; */
    border: none;
    border-bottom: 2px solid white;
    width: 130px;
    padding: 7px 25px;
    margin-top: 100px;
    margin: auto;
    display: block;
    /* text-align: center; */
    text-decoration-line: none;
    color: white;
    word-spacing: 1.5px;
    font-size: 16px;
    font-weight: 500;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.more:hover {
    box-shadow: inset 200px 0 0 0 #00A3FF;
    border-radius: 5px;
    color: white;
}
.more_ig {
    background-color: white;
    border: none;
    border-bottom: 2px solid white;
    width: 14em;
    padding: 7px 15px;
    margin-top: 100px;
    margin: auto;
    display: block;
    font-size: 15px;
    font-weight: 500;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration-line: none;
    color: #00A3FF;
    border-radius: 5px;
}
.more_ig:hover {
    box-shadow: inset 14em 0 0 0 #00A3FF;
    border-radius: 5px;
    color: white;
    background-color: transparent;
}





/*########## Section four ###### */


.section_four {
    padding: 100px 140px;

   
}
.partners {
    /* border: 1px solid white; */
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 20px 0px;
    
}
.partners ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    /* animation: slide 10s linear infinite; */
}
@media only screen and (max-width:768.98px) 
{
    .partners ul{
        width: 200%;
    }
}
.primary {
    animation: primary 15s linear infinite;
}
  
.secondary {
    animation: secondary 15s linear infinite;
}

@keyframes primary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@keyframes secondary {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


.partners ul li img {
    width: 110px;
    padding-right: 20px;
    filter: brightness(80%);
    
    /* animation: primary 3s linear infinite; */
    
}
.partners ul li img:hover {
    transition: none;
    transform: none;
}
.section_four h3 {
    text-align: center;
    color: white;
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 40px;
}
@media only screen and (max-width:425.98px) 
{
    .section_four {
        padding: 100px 10px 30px;
       
    }
}



/*########## Section Technologies ###### */

.technologies {
    margin-top: 200px;
     /* border: 1px solid white; */
     height: auto;
     margin: 90px 200px 0px;
     color: white;
}

@media only screen and (max-width:1024.98px) 
{
    .technologies {
        margin: 70px 130px;
        /* margin: 10px; */
    }
   
}
@media only screen and (max-width:768.98px) 
{
    .technologies {
        margin: 70px 70px;
    }
}

.tech-title {
    text-align: center;
    color: white;
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 40px;
}
.items-start h2 {
    color: #ac05ca;
    font-size: 20px;
    margin-top: 50px;
    font-weight: 500;
}
.items-start .rounded-lg {
    font-size: 13px;
}
@media only screen and (max-width:425.98px) 
{
    .technologies {
        margin: 0px;
    }
    .technologies .tech-info{
        text-align: left!important;
    }
}



/*########## Section five ###### */

.contact {
    margin-top: 300px;
     height: auto;
     margin: 90px 200px 0px;
     color: white;
    
}
@media only screen and (max-width:1024.98px) 
{
    .contact {
        margin: 70px 130px;
    }
   
}
@media only screen and (max-width:768.98px) 
{
    .contact {
        margin: 70px 10px;
    }
    .contact a {
        /* width: auto; */
        /* border: 1px solid white; */
        justify-content: space-between;
        margin-right: 10px;
    }
    .contact p {
        width: auto;
    }
}
@media only screen and (max-width:425.98px) 
{
    .contact h1 {
        margin-bottom: 20px;
    }
}

.contact a {
    opacity: 1; 
    transform: none;
    height: 100px;
    width: auto;
    background-color: #ac05ca31;
    display: flex;
    color: white;
    text-decoration: none;
    margin: 20px 0px;
    /* border: 1px solid white; */
}

.contact .email-box span {
    font-weight: 600;
}
.contact .email-box p {
    margin: 0px;
    font-size: 14px;
}

.contact h1 {
    font-size: 40px;
    color: white;
    font-weight: 600;
}
.contact p {
    color: white;
    width: 60%;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
@media only screen and (max-width:375.98px) 
{
    .contact a {
        width: auto;
        margin-top: 0px;
    }
}


.contact p i {
    font-weight: bolder;
}

.mail_button {
    background-color: transparent;
    border: .6px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 100px;
    text-decoration-line: none;
    color: white;
    word-spacing: 1.5px;
    font-size: 17px;
    font-weight: 300;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.mail_button:hover {
    box-shadow: inset 200px 0 0 0 #00A3FF;
    color: white;
}

