

@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss";
html { 
  font-family: 'Montserrat', 'Inter', sans-serif;
  color: transparent;
 }



body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(2 6 23 / var(--tw-bg-opacity, 1)); */
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 
  'Montserrat', 'Courier New',
    monospace;
}

#buffer-extension-button-hover-container {
  display: none;
}